<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
</head>
<body style="background-image: -webkit-radial-gradient(circle, white, black);">
    <div class="container">
        <div class="row mt-2 justify-content-between"><!--Info de la materia y campos de texto(Número de Proyecto & Evaluador)-->
            <div class="col-6">
                <!-- ]<H3>Tecnológico de Monterrey</H3> -->
                <img src="../img/itesm.png" class="mb-3" width="125px" height="125px" alt="ITESM">
                <h5>Materia: Evaluación y Administración de Proyectos</h5>
                <h5>Proyecto: Project Portfolio Evaluation Tool</h5>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="proyectoID" class="form-control-label">Nombre/Número de Proyecto</label>
                    <input type="text" name="" id="proyectoID" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="evaluadorID" class="form-control-label">Evaluador</label>
                    <input type="text" name="" id="evaluadorID" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
            </div>
        </div>
        <div class="col"><!--Tabs con las herramientas-->
            <ul class="nav nav-tabs justify-content-center"><!--Encabezado de las Tabs-->
                <li class="nav-item">
                    <a href="#tab1" class="nav-link active text-white bg-success">Payback Period</a>
                </li>
                <li class="nav-item">
                    <a href="#tab2" class="nav-link text-white bg-danger">NPV</a>
                </li>
            </ul>
            <div class="row justify-content-center">
                <!-- <div class="col">

                </div> -->
                <div class="tab-content ml-3 col-12"><!--Inicio del Contenido de las Tabs-->
                        <div class="tab-pane bg-success rounded border border-dark" id="tab1"><!--Start tab1: Discounted Pay Back-->
                            <div style="height:490px; overflow-y:scroll; overflow-x: hidden;" id="content-tab1">

                            </div>
                        </div><!--End tab1-->
                        <div class="tab-pane bg-danger rounded border border-dark pt-4" id="tab2"><!--Start tab2: NPV-->
                            <div style="height:490px; overflow-y:scroll; overflow-x: hidden;" id="content-tab2">

                            </div>
                        </div><!--End Tab2-->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../frameworks/jquery-3.3.1.min.js"></script>
    <!-- <script src="../js-scripts/main.js" type=""></script> -->
    <link rel="stylesheet" type="text/css" href="../frameworks/bootstrap.css">

    <script src="../frameworks/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#content-tab1').load('../view/tab1.html');
            $('#content-tab2').load('../view/tab2.html');
                $('.nav li a').on('click', function(){
                $('.nav li a').removeClass("active");
                $(this).addClass("active");
                //Obtenemos el atributo href
                var tab = $(this).attr('href');//De la pestaña presionada se obtiene la propiedad href
                //Ocultamos los otros tabs
                $('.tab-content > div').removeClass('active');
                $(tab).addClass('active');
            });
        });
    </script>

</html>
