<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="width:100%;">
    <form action="" class="" id="form2">
            <div class="ml-4">
                <h3>
                    <p class="text-center">Net Present Value</p>
                </h3>
                <p class="font-italic font-weight-bold">Benchmark used to determine the value of an investment.It allows us to transform costs throughout a proect's life to today's value,
                        while taking into account the interest rates. All inflows & outflows applied in time for the project can be converted to present values.
                        It allows comparison of several projects and alternatives.
                </p>        
            </div>
            <hr style="color: dark;">
        <div class="row justify-content-around">
            <div class="col-5">
                <div class="form-group row">
                    <label for="periodosID2" class="col-sm-8 col-md-5 col-lg-4 col-xl-4"><p id="fontStyle">Periodos</p></label>
                    <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                        <input type="text" id="periodosID2" value="" class="form-control form-control-sm">
                        <div id="feedbackPeriodos2"><p class="" style="font-size:13px; font:'Adobe Garamond Pro'"><i></i></p></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="principalID2" class="col-sm-8 col-md-5 col-lg-4 col-xl-4"><p id="fontStyle">Principal</p></label>
                    <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                        <input type="text" id="principalID2" value="" class="form-control form-control-sm">
                        <div id="feedbackPrincipal2"><p class="" style="font-size:13px; font:'Adobe Garamond Pro'"><i></i></p></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="interesID2" class="col-sm-8 col-md-5 col-lg-4 col-xl-4"><p id="fontStyle">Interes Rate (%)</p></label>
                    <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                        <input type="text" id="interesID2" value="" class="form-control form-control-sm">
                        <div id="feedbackInteres2"><p class="" style="font-size:13px; font:'Adobe Garamond Pro'"><i></i></p></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="taxID1" class="col-sm-8 col-md-5 col-lg-4 col-xl-4"><p id="fontStyle">Tax Rate (%)</p></label>
                    <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                        <input type="text" id="taxID1" value="" class="form-control form-control-sm">
                        <div id="feedbackTax2"><p class="" style="font-size:13px; font:'Adobe Garamond Pro'"><i></i></p></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <div class=" col-sm-6 col-md-10 col-lg-10 col-xl-12 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3">Activa para usar Salvage Value</label>                        
                    </div>
                </div>
                <div class="form-group row">
                    <label for="svID2" class="col-sm-8 col-md-3 col-lg-3 col-xl-3"><p id="fontStyle">Salvage Value</p></label>
                    <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                        <input type="text" name="" id="svID2" class="form-control form-control-sm" placeholder="Salvage Value" disabled>
                        <div id="feedbackSV2"><p class="" style="font-size:13px; font:'Adobe Garamond Pro'"><i></i></p></div>
                    </div>
                </div>
                <div class="form-group row">        
                    <label for="p_svID2" class="col-sm-8 col-md-3 col-lg-3 col-xl-3"><p id="fontStyle">Period of SV</p></label>            
                    <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                        <input type="text" name="" id="p_svID2" class="form-control form-control-sm" placeholder="Period" disabled>
                        <div id="feedbackP_SV2"><p class="" style="font-size:13px; font:'Adobe Garamond Pro'"><i></i></p></div>
                    </div> 
                </div>
                <div class="form-group row">
                    <button class="btn btn-outline-dark col-sm-6 col-md-4 col-lg-3 col-xl-3 mr-1" id="bCalcular2">Calcular</button>
                    <button class="btn btn-outline-dark col-sm-6 col-md-4 col-lg-3 col-xl-3 ml-1" id="bLimpiar2">Limpiar Datos</button>
                </div>
            </div>
            </div>
        </div>               
                                 
        <div class="row justify-content-center"><!--Centramos la tabla-->
            <table class="col-8 table table-sm table-responsive{-sm|-md|-lg|-xl} table-wrapper-scroll-y my-custom-scrollbar table-bordered"><!--Definition of the table-->
                <thead class="thead-default">
                    <tr>
                        <th>N</th>
                        <th>Inflows</th>
                        <th>Outflows</th>
                        <th>Net Cash Flow</th>
                        <th>Cumulative Cash Flow</th>
                    </tr>
                </thead>
                <tbody id="datosTabla2">
                    
                </tbody>                            
            </table>
            <div class="row justify-content-end">
                <div class="col">
                    <button class="btn btn-dark" id="bMostrarNPV">Imprimir Resultado</button>
                </div>
                <div class="col">
                    <label>Net Present Value</label>
                </div>
                <div class="col">
                    <input type="text" id="npvID" size="15">
                </div>                                            
            </div>
        </div>                            
    </form>
    <script src="../js-scripts/tab2_controller.js" type="module"></script>
</body>
</html>