@charset "ISO-8859-1";

.color-celeste-uno
{
	background : #BFFAF7;
}
.color-celeste-dos
{
	background : #69CCDE;
}
.color-celeste-tres
{
	background : #73DEF2;
}
.color-celeste-cuatro
{
	background : #7AEAFF;
}
.color-rojo-uno
{
	background : #BF5867;
}